/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #111;
}

.imagem-sobre img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.texto1-sobre {
    max-width: 50%;
    padding: 0 20px;
}

.texto1-sobre h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto1-sobre p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.texto2-sobre {
    display: flex;
    gap: 40px;
}

.texto2-sobre div {
    text-align: left;
}

.texto2-sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.texto2-sobre p {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ccc;
}

/* Banner */

.banner {
    background-image: url('/barber-shop/src/assets/image/Untitled229.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}