#root {                     /* Este seletor afeta o elemento com id 'root', que é onde o React injeta seu conteúdo.*/
  min-height: 100vh;  /*min-height 100vh garante que o elemento ocupe pelo menos toda a altura da viewport.*/
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

